.btn-grid__btn {
    width: 189px;
    height: 48px;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    color: var(--white);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.btn-grid__btn_primary {
    background: var(--primary);
}

.btn-grid__btn_primary:hover {
    background: var(--primary-hover);
}

.btn-grid__btn_secondary {
    background: var(--secondary);
}

.btn-grid__btn_secondary:hover {
    background: var(--secondary-hover);
}

.btn-grid__btn_alternate {
    color: var(--grey-4);
    background-color: var(--white);
    border: 1px solid var(--grey-3);
}

.btn-grid__btn_alternate:hover {
    border: 1px solid var(--black);
}

.btn-grid__btn:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}
