.components-preview {
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    width: 825px;
    padding: 32px 48px 495px 32px;
    box-sizing: border-box;
}

.components-preview__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
    margin-bottom: 24px;
    
}

.components-preview__item {
    width: 300px;
}
